In [4]:
import mysql.connector as mysql

In [6]:
conn=mysql.connect(
  host='localhost',
  user='root',
  password='root'
)

In [7]:
print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000023C36E33F10>

In [8]:
cursor=conn.cursor()

In [9]:
cursor.execute('Show Databases')

In [14]:
for i in cursor:
  print(i)

In [18]:
cursor.execute('Create Database Spotify')

In [19]:
cursor.execute('Show Databases')

In [20]:
for j in cursor:
  print(j)

('assignment',)
('assignment_1',)
('assignment_2',)
('aws',)
('class',)
('class_1',)
('information_schema',)
('mysql',)
('performance_schema',)
('project',)
('python',)
('sakila',)
('scd',)
('spotify',)
('sys',)
('telusuga',)
('world',)

In [22]:
cursor.execute('use spotify')

In [23]:
import pandas as pd

In [24]:
df=pd.read_csv('D:\Surya\Kaggle\soptify\spotify_songs.csv')

In [31]:
df_1=df.head(1)

In [32]:
df_1

,track_id,track_name,track_artist,track_popularity,track_album_id,track_album_name,track_album_release_date,playlist_name,playlist_id,playlist_genre,...,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms
0,6f807x0ima9a1j3VPbc7VN,I Don't Care (with Justin Bieber) - Loud Luxur...,Ed Sheeran,66,2oCs0DGTsRO98Gh5ZSl2Cx,I Don't Care (with Justin Bieber) [Loud Luxury...,2019-06-14,Pop Remix,37i9dQZF1DXcZDD7cfEKhW,pop,...,6,-2.634,1,0.0583,0.102,0.0,0.0653,0.518,122.036,194754

In [33]:
df_2=df['track_id'].head(1)

In [34]:
df_2

0    6f807x0ima9a1j3VPbc7VN
Name: track_id, dtype: object

In [37]:
df_3=df[['track_id','track_name']].head(1)

In [38]:
df_3

                 track_id                                         track_name
0  6f807x0ima9a1j3VPbc7VN  I Don't Care (with Justin Bieber) - Loud Luxur...

In [39]:
df_4=df[['track_id','track_name','track_artist','track_popularity']].head(4)

In [40]:
df_4

,track_id,track_name,track_artist,track_popularity
0,6f807x0ima9a1j3VPbc7VN,I Don't Care (with Justin Bieber) - Loud Luxur...,Ed Sheeran,66
1,0r7CVbZTWZgbTCYdfa2P31,Memories - Dillon Francis Remix,Maroon 5,67
2,1z1Hg7Vb0AhHDiEmnDE79l,All the Time - Don Diablo Remix,Zara Larsson,70
3,75FpbthrwQmzHlBJLuGdC7,Call You Mine - Keanu Silva Remix,The Chainsmokers,60