In [2]:
import mysql.connector as mysql

In [42]:
conn=mysql.connect(
  host='localhost',
  user='root',
  password='root',
  database='spotify'
)

In [43]:
cursor=conn.cursor()

In [7]:
cursor.execute('show tables')

In [8]:
for i in cursor:
  print(i)

('landing_raw_data',)

In [9]:
query='''
create table dim_track
as
select 
track_id,
track_name,
track_artist,
track_popularity
from landing_raw_data
'''

In [10]:
cursor.execute(query)

In [11]:
cursor.execute('show tables')

In [12]:
for j in cursor:
  print(j)

('dim_track',)
('landing_raw_data',)

In [13]:
cursor.execute('select * from dim_track limit 5')

In [14]:
for i in cursor:
  print(i)

('6f807x0ima9a1j3VPbc7VN', "I Don't Care (with Justin Bieber) - Loud Luxury Remix", 'Ed Sheeran', 66)
('0r7CVbZTWZgbTCYdfa2P31', 'Memories - Dillon Francis Remix', 'Maroon 5', 67)
('1z1Hg7Vb0AhHDiEmnDE79l', 'All the Time - Don Diablo Remix', 'Zara Larsson', 70)
('75FpbthrwQmzHlBJLuGdC7', 'Call You Mine - Keanu Silva Remix', 'The Chainsmokers', 60)
('1e8PAfcKUYoKkxPhrHqw4x', 'Someone You Loved - Future Humans Remix', 'Lewis Capaldi', 69)

In [16]:
ddl_2='''
create table dim_track_album
as
select 
track_album_id,
track_album_name,
track_album_release_date
from landing_raw_data
'''

In [17]:
cursor.execute(ddl_2)

In [18]:
cursor.execute('select * from dim_track_album limit 5')

In [19]:
for i in cursor:
  print(i)

('2oCs0DGTsRO98Gh5ZSl2Cx', "I Don't Care (with Justin Bieber) [Loud Luxury Remix]", datetime.date(2019, 6, 14))
('63rPSO264uRjW1X5E6cWv6', 'Memories (Dillon Francis Remix)', datetime.date(2019, 12, 13))
('1HoSmj2eLcsrR0vE9gThr4', 'All the Time (Don Diablo Remix)', datetime.date(2019, 7, 5))
('1nqYsOef1yKKuGOVchbsk6', 'Call You Mine - The Remixes', datetime.date(2019, 7, 19))
('7m7vv9wlQ4i0LFuJiE2zsQ', 'Someone You Loved (Future Humans Remix)', datetime.date(2019, 3, 5))

In [27]:
ddl_3='''
create or replace table dim_playlist
as
select
playlist_name,
playlist_id,
playlist_genre,
playlist_subgenre
from landing_raw_data
'''

In [29]:
#cursor.execute(ddl_3)
cursor.execute('select * from dim_track_album limit 5')

In [44]:
cursor.execute('select * from dim_playlist limit 5')

In [46]:
for k in cursor:
  print(k)

('Pop Remix', '37i9dQZF1DXcZDD7cfEKhW', 'pop', 'dance pop')
('Pop Remix', '37i9dQZF1DXcZDD7cfEKhW', 'pop', 'dance pop')
('Pop Remix', '37i9dQZF1DXcZDD7cfEKhW', 'pop', 'dance pop')
('Pop Remix', '37i9dQZF1DXcZDD7cfEKhW', 'pop', 'dance pop')
('Pop Remix', '37i9dQZF1DXcZDD7cfEKhW', 'pop', 'dance pop')

In [49]:
cursor.execute("SHOW VARIABLES LIKE 'secure_file_priv';")

In [50]:
for a in cursor:
  print(a)

('secure_file_priv', 'C:\\ProgramData\\MySQL\\MySQL Server 8.0\\Uploads\\')

In [51]:
cursor.execute("SELECT * FROM dim_playlist INTO DUMPFILE 'C:\\ProgramData\\MySQL\\MySQL Server 8.0\\Uploads\\';")

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ''C:\ProgramData\MySQL\MySQL Server 8.0\Uploads\'' at line 1